.search-box {
  -fx-background-color: #000000;
  -fx-background-radius: 12;
}
.transparent {
  -fx-background-color: rgba(0, 0, 0, 0);
  -fx-text-fill: #ffffff;
  -fx-font-family: "Courier New"; /* Font family */
}

.search-button {
  -fx-background-color: #655151dc;
  -fx-background-radius: 5;
}

.evolution-button {
  -fx-background-color:
      linear-gradient(to right, 
          red 0%,     /* Red */
          orange 16.67%, /* Orange */
          yellow 33.33%, /* Yellow */
          green 50%,  /* Green */
          blue 66.67%, /* Blue */
          indigo 83.33%, /* Indigo */
          violet 100%  /* Violet */
      );
  -fx-background-radius: 5;
}

.left-bar {
  -fx-background-color: #3e3535;
}

.right-bar{
  -fx-background-color: #EBFBA9;
}

.shadow {
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 10, 0, 0, 10);
}

.chosen-fruit-card {
  -fx-background-color: #ffffff;
  -fx-background-radius: 30;
  -fx-border-color: #242121;
  -fx-border-radius: 20;
  -fx-border-width: 10px;
  /* -fx-padding: 20px; */
}

.chosen-fruit-card-details {
  -fx-background-color: #efe8e8;
  -fx-background-radius: 0 0 12 12;
}

.number {
  /* -fx-background-color: #2a2d1e;
  -fx-background-radius: 40; */
}

.typeLabel {
  -fx-background-radius: 20;
  -fx-background-color: #2a2d1e;
}

.properties {
  -fx-background-radius: 5;
  -fx-background-color: #ffffff;
}

.comboBox {
  -fx-background-color: rgba(255, 255, 255, 0.3);
  -fx-background-radius: 30;
}

.add-btn {
  -fx-background-color: #ffffff;
  -fx-background-radius: 100;
}

.fruit-item {
  -fx-background-color: #ffffff;
  -fx-background-radius: 10;
}
